* {
	font-family: "Verdana", sans-serif;
}

div.error {
	color: red;
}

div.warn, div.warning {
	color: orange;
}

div.info {
	color: green;
}

div.debug {
	font-family: monospace !important;
	color: dark-gray;
}

div#navigation {
	background: #333;
	color: white;
	padding: 8px 24px 8px 24px;
}

div#navigation span {
	font-weight: bold;
	padding: 0px 8px 0px 8px;
}

div#navigation a:link {
	color: green;
}
div#navigation a:hover {
	color: white;
}
div#navigation a:active {
	color: white;
}
div#navigation a:visited {
	color: red;
}

div.footer {
	font-size: 0.66em;
	text-align: right;
	color: light-gray;
	position: fixed;
	bottom: 4px;
	right: 8px;
	z-index: -999
}

div#settings {
	position: absolute;
	margin-top: 4px;
	right: 8px;
}

#fileDropZone {
	border: 2px dashed #bbb;
	border-radius: 5px;
	padding: 25px;
	text-align: center;
	font: 20pt bold 'Vollkorn';
	color: #bbb;
}

table {
	border-collapse: collapse;
	border: 1px solid #CCC;
	/*width: 100%;*/
}

table caption {
	caption-side: top;
	font-size: 2em;
	font-style: bold;
	text-align: left;
	padding: 0.2em;
}

table.msq td:hover {
	background-color: magenta !important;
}

table th, table td {
	padding: 4px;
	border: 1px dotted #333;
	font-size: smaller;
	text-align: center;
}

/* eh, need to switch top/bottom border dep. on where the header is */
table th[scope=col] {
	border-top: 2px solid #333;
	border-right: 2px solid #333;
}

/* inbetween headers but not ends */
table th+th[scope=col] {
	border-right: 1px dotted #666;
}

table th[scope=row] {
	border-right: 2px solid #333;
}

/* Hidden features */
span#literMargin input{
	display: none;
}

form#filter {
	display: none;
}

form#search {
	display: none;
}
