<html ng-app="msqApp">
<head>
	<title>MSQ Viewer</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
	<script src="msqParse.js"></script>
</head>
<body ng-controller="msqParse">
<div><input ng-model="file" type="text" value="38.msq"/><button ng-click="loadMsq(file)">Load MSQ</button></div>
<button ng-click="loadMsq('38.msq')">Load 38.msq</button>
<div>
	{{msq.author}} {{msq.date}}<br/>
	{{msq.format}} {{msq.sig}}<br/>
</div>
<div ng-repeat="table in msq.tables">
	{{table.name}}
<table>
	<tr ng-repeat="y in table.yAxis"><th>{{y}}</th></tr>
	<tr ng-repeat="row in table.dataRows track by $index"><td ng-repeat="cell in row track by $index">{{cell}}</td></tr>
	<tr><th></th><th ng-repeat="x in table.xAxis">{{x}}</th></tr>
</table>
</div>
</body>
</html>
