/* msqur - MegaSquirt .msq file viewer web application
Copyright 2014-2019 Nicholas Earwood nearwood@gmail.com https://nearwood.dev

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. */

/*
Favicon - Contrail One
Primary:
#90a4ae
#c1d5e0 light
#62757f dark

Secondary:
#ff6f00
#ffa040 light
#c43e00 dark

black text on all except dark
*/
body, button {
	font-family: "Verdana", sans-serif;
}

div.error {
	color: darkred;
}

div.warn, div.warning {
	color: darkorange;
}

div.info {
	color: #111;
}

div.debug {
	font-family: monospace !important;
	color: black;
}

div#navigation {
	background: #90a4ae;
	color: black;
	padding: 8px 24px 8px 24px;
}

div#navigation span {
	font-weight: bold;
	padding: 0px 8px 0px 8px;
}

/*
div#navigation a:link {
	color: #ff6f00;
}
div#navigation a:hover {
	color: #c43e00;
}
div#navigation a:active {
	color: #ffa040;
}
div#navigation a:visited {
	color: #c43e00;
}
*/

div#splash img.tutorial {
	margin-bottom: 32px;
}

div#settings {
	z-index: 999;
	background: rgba(224, 224, 224, 32);
	float: right;
	margin-top: 4px;
}

img#settingsIcon {
	cursor: pointer;
}

div#downloadLink {
	margin: 5px;
	float: right;
}

#fileDropZone {
	border: 2px dashed #bbb;
	border-radius: 5px;
	padding: 25px;
	text-align: center;
	font: 20pt bold 'Vollkorn';
	color: #bbb;
}

table {
	border-collapse: collapse;
	border: 1px solid #CCC;
	/*width: 100%;*/
}

table caption {
	caption-side: top;
	font-size: 0.75em;
	font-style: bold;
	text-align: left;
	padding: 0.2em;
}

table.msq td:hover {
	background-color: magenta !important;
}

table th, table td {
	padding: 4px;
	border: 1px dotted #333;
	font-size: smaller;
	text-align: center;
	white-space: nowrap;
}

/* eh, need to switch top/bottom border dep. on where the header is */
table th[scope=col] {
	border-top: 2px solid #333;
	border-right: 2px solid #333;
}

/* inbetween headers but not ends */
table th+th[scope=col] {
	border-right: 1px dotted #666;
}

table th[scope=row] {
	border-right: 2px solid #333;
}

div.curve {
	display: inline;
}

div.chart {
	/* float: right; */
	padding: 24px;
	display: inline;
}

/* msqur.css | http://localhost:5050/view/msqur.css */

div#tab_constants {
	display: flex;
  flex-flow: column wrap;
  max-height: 900px;
  overflow: auto;
  max-width: 100%;
}

span.constant:nth-child(even) {
	background-color: #e4e4e4;
}

span.constant {
	margin: 0px 10px;
}

span.constant span.value {
	float: right;
}

#engineForm {
	display: table;
}

#engineForm div.formDiv {
	display: table-row;
}

#engineForm input, #engineForm label {
	display: table-cell;
	width: 100%;
}

#engineForm span {
	font-size: small;
}

form#search #btnSearch {
	float: right;
}

input:invalid {
	outline: 2px solid red;
}

input:focus:invalid {
  color: red;
}

ul.supportList {
	list-style: none;
  padding: 0;
  margin: 0;
}

aside {
	width: 40%;
	float: right;
	border: 2px solid black;
	padding: 10px;
	box-shadow: 5px 5px 5px rgb(100, 100, 100);
}

.supportList li {
	text-indent: 1rem;
}

.supportList li::before {
	content: "❌ ";
}

.supportList li.supported::before {
	content: "✅ ";
}

#faq .q {
	font-weight: bold;
}

#faq li.q:before {
	content: "Q: ";
}

#faq li.a:before {
	content: "A: ";
}

#faq li.a {
	margin-bottom: 1em;
}

.browse .category > div {
	padding: 6px;
	display: inline-block;
}
