<?php
define('CONFIG_VERSION', "7");
define('LOG_FILE', "/tmp/msqur.log"); //Ew
define('DB_HOST', "127.0.0.1");
define('DB_USERNAME', "root");
define('DB_PASSWORD', "my-secret-pw");
define('DB_NAME', "msqur");

define('LOCAL', TRUE);
define('DEBUG', TRUE);
define('DISABLE_MSQ_CACHE', FALSE);

error_reporting(E_ALL);

ini_set('display_errors', DEBUG ? 'On' : 'Off');
//ini_set('log_errors', DEBUG ? 'Off' : 'On');

//Default in case it's not set in php.ini
//MSQUR-1
date_default_timezone_set('UTC');

assert_options(ASSERT_ACTIVE, DEBUG ? 1 : 0);
assert_options(ASSERT_WARNING, 0);
assert_options(ASSERT_QUIET_EVAL, 1);

//Could move these to msqur class, but php
function debuglog($type, $message)
{
	if (!error_log("$type: $message\n", 3, LOG_FILE))
		error_log("Error writing to logfile: " . LOG_FILE);
}

function debug($message)
{
	debuglog("DEBUG", $message);
}

function warn($message)
{
	debuglog("WARN", $message);
}

function error($message)
{
	debuglog("ERROR", $message);
}

//Setup assert() callback
function msqur_assert_handler($file, $line, $code)
{
    error("Assertion Failed: '$code'\nFile '$file', line '$line'");
}
assert_options(ASSERT_CALLBACK, 'msqur_assert_handler');
?>
